extends ../layouts/sketchfab

block intro
	.container
		// h1#h1header Audiences

block content
	// p.categories= audiences.categories
	#sketchContainer
	if locals.data
		each audience in locals.data.results
			// p.categories= audience.categories
			p.url= audience.url
	
								
