//The template for our home page view

/*

Now, for the template our route will render. 
The render method looks in the views directory 
specified in our web.js, which we set to /templates/views.

In this guide, we're going to use Jade for our templates. 
To learn more about Jade, visit jade-lang.org, or check 
out the great live syntax documentation to learn by example.

*/

extends ../layouts/base
 
block content
    h1 Hello World