doctype html
html
  head
    meta(charset='UTF-8')
    title Sketchfab Viewer API example
    link(rel='stylesheet', href='../css/styles.min.css')
    script(src = '/socket.io/socket.io.js')
    script(src = '../js/libs/libs.min.js')
  body
    header 
        h1 Momentum Client Sketchfab Viewer
    #sketchContainer
    script(src = '../js/bundle.min.js')